    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <img src="<?php echo base_url('vendor/lucida/');?>assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong><?php echo $this->session->userdata('username');?></strong></a>
                    <ul class="dropdown-menu dropdown-menu-right account">
                        <li><a href="doctor-profile.html"><i class="icon-user"></i>My Profile</a></li>
                        <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
                        <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="<?php echo base_url('logout')?>"><i class="icon-power"></i>Logout</a></li>
                    </ul>
                </div>
                <hr>
                <ul class="row list-unstyled">
                    <li class="col-4">
                        <small>Exp</small>
                        <h6>14</h6>
                    </li>
                    <li class="col-4">
                        <small>Awards</small>
                        <h6>13</h6>
                    </li>
                    <li class="col-4">
                        <small>Clients</small>
                        <h6>213</h6>
                    </li>
                </ul>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <?php if($this->session->userdata('menu_utama')=='Y'){ ?>
                <li class="nav-item"><a class="nav-link <?php echo (class_active_tabs($this->uri->segment(1))=='Default') ? 'active' : '';?>" data-toggle="tab" href="#menu">Menu</a></li> 
                <?php } ?>   

                <?php if($this->session->userdata('menu_report')=='Y'){ ?>      
                <li class="nav-item"><a class="nav-link <?php echo (class_active_tabs($this->uri->segment(1))=='Second') ? 'active show' : '';?>" data-toggle="tab" href="#sub_menu">Report</a></li>
                <?php } ?> 
                
                <?php if($this->session->userdata('menu_master')=='Y'){ ?>
                <li class="nav-item"><a class="nav-link <?php echo (class_active_tabs($this->uri->segment(1))=='Third') ? 'active show' : '';?>" data-toggle="tab" href="#sub_third">Master</i></a></li>
                <?php } ?>           
            </ul>
                
            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <?php if($this->session->userdata('menu_utama')=='Y'){ ?>
                <div class="tab-pane <?php echo (class_active_tabs($this->uri->segment(1))=='Default') ? 'active' : '';?>" id="menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <?php echo menu();?>
                            <li><a href="#">&nbsp;</a></li>
                        </ul> 
                    </nav>
                </div>
                <?php } ?>
                <?php if($this->session->userdata('menu_report')=='Y'){ ?>
                <div class="tab-pane <?php echo (class_active_tabs($this->uri->segment(1))=='Second') ? 'active show' : '';?>" id="sub_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <?php echo menu_second();?>
                            <li><a href="#">&nbsp;</a></li>
                        </ul>
                    </nav>
                </div>  
                <?php } ?>
                <?php if($this->session->userdata('menu_master')=='Y'){ ?>
                <div class="tab-pane <?php echo (class_active_tabs($this->uri->segment(1))=='Third') ? 'active show' : '';?>" id="sub_third">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <?php echo menu_third();?>
                            <li><a href="#">&nbsp;</a></li>
                        </ul>
                    </nav>
                </div>   
                <?php } ?>  
            </div>          
        </div>
    </div>