  </div>
  <!-- END WRAPPER -->
<!-- Javascript -->
<?php if($file !='login_index'){ ?>
<script src="<?php echo base_url('vendor/lucida/');?>assets/bundles/libscripts.bundle.js"></script>
<script src="<?php echo base_url('vendor/lucida/');?>assets/bundles/vendorscripts.bundle.js"></script>

<script src="<?php echo base_url('vendor/lucida/');?>assets/vendor/datatables/main.js"></script>
<script src="<?php echo base_url('vendor/lucida/');?>assets/bundles/mainscripts.bundle.js"></script>
<script src="<?php echo base_url('vendor/lucida/');?>assets/vendor/select2/v1.select2.min.js"></script>
<script src="<?php echo base_url('vendor/lucida/');?>assets/vendor/jquery-ui/jquery-ori/jquery-ui.min.js"></script>
<script src="<?php echo base_url('vendor/lucida/');?>assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script><!-- bootstrap datepicker Plugin Js --> 
<script type="text/javascript">
	$(document).ready(function(){
		$('.select2').select2();
	});
	
	function notSpace(id,name)
	{
		$('#'+id+' [name="'+name+'"]').keypress(function( e ) {
		  if(e.which === 32) 
		      return false;
		});
	}
</script>
<?php 
	} 
$this->site->get_template('coreTheme/inc.js_internal.php');
?>
</body>
</html>